@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section {
    width: 100%;
    min-height: 100vh;
<<<<<<< HEAD
    background-color: #ddd;
=======
    background-color: #ffdec7;
>>>>>>> 4b2e231f8cec82ee4be39dc3328a0fbb9b3c12ba
}
.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section {
    float: right;
    width: 50%;
}
.image-section {
    float: left;
    width: 45%;
}
.image-section img {
    width: 100%;
    height: auto;
}
.content-section .tittle {
    text-transform: uppercase;
    font-size: 25px;
}
.content-section .content h3 {
    margin-top: 20px;
<<<<<<< HEAD
    color: #5d5d5d;
=======
    color: #000000;
>>>>>>> 4b2e231f8cec82ee4be39dc3328a0fbb9b3c12ba
    font-size: 20px;
}
.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 1.5;
}
.social {
    margin: 5px;
    padding: 5px;
}